FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/AsistenteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AsistenteWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/AsistenteWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarAsistente">
    <part name="parameters" element="tns:listarAsistente" />
  </message>
  <message name="listarAsistenteResponse">
    <part name="parameters" element="tns:listarAsistenteResponse" />
  </message>
  <message name="insertarAsistente">
    <part name="parameters" element="tns:insertarAsistente" />
  </message>
  <message name="insertarAsistenteResponse">
    <part name="parameters" element="tns:insertarAsistenteResponse" />
  </message>
  <message name="modificarAsistente">
    <part name="parameters" element="tns:modificarAsistente" />
  </message>
  <message name="modificarAsistenteResponse">
    <part name="parameters" element="tns:modificarAsistenteResponse" />
  </message>
  <message name="eliminarAsistente">
    <part name="parameters" element="tns:eliminarAsistente" />
  </message>
  <message name="eliminarAsistenteResponse">
    <part name="parameters" element="tns:eliminarAsistenteResponse" />
  </message>
  <portType name="AsistenteWS">
    <operation name="listarAsistente">
      <input wsam:Action="http://services.pucp.edu.pe/AsistenteWS/listarAsistenteRequest" message="tns:listarAsistente" />
      <output wsam:Action="http://services.pucp.edu.pe/AsistenteWS/listarAsistenteResponse" message="tns:listarAsistenteResponse" />
    </operation>
    <operation name="insertarAsistente">
      <input wsam:Action="http://services.pucp.edu.pe/AsistenteWS/insertarAsistenteRequest" message="tns:insertarAsistente" />
      <output wsam:Action="http://services.pucp.edu.pe/AsistenteWS/insertarAsistenteResponse" message="tns:insertarAsistenteResponse" />
    </operation>
    <operation name="modificarAsistente">
      <input wsam:Action="http://services.pucp.edu.pe/AsistenteWS/modificarAsistenteRequest" message="tns:modificarAsistente" />
      <output wsam:Action="http://services.pucp.edu.pe/AsistenteWS/modificarAsistenteResponse" message="tns:modificarAsistenteResponse" />
    </operation>
    <operation name="eliminarAsistente">
      <input wsam:Action="http://services.pucp.edu.pe/AsistenteWS/eliminarAsistenteRequest" message="tns:eliminarAsistente" />
      <output wsam:Action="http://services.pucp.edu.pe/AsistenteWS/eliminarAsistenteResponse" message="tns:eliminarAsistenteResponse" />
    </operation>
  </portType>
  <binding name="AsistenteWSPortBinding" type="tns:AsistenteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarAsistente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAsistente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAsistente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAsistente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AsistenteWS">
    <port name="AsistenteWSPort" binding="tns:AsistenteWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/AsistenteWS" />
    </port>
  </service>
</definitions>