FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/CuentaUsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CuentaUsuarioWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/CuentaUsuarioWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="verificarCuentaAdministrador">
    <part name="parameters" element="tns:verificarCuentaAdministrador" />
  </message>
  <message name="verificarCuentaAdministradorResponse">
    <part name="parameters" element="tns:verificarCuentaAdministradorResponse" />
  </message>
  <message name="insertarCuenta">
    <part name="parameters" element="tns:insertarCuenta" />
  </message>
  <message name="insertarCuentaResponse">
    <part name="parameters" element="tns:insertarCuentaResponse" />
  </message>
  <message name="verificarCuentaPaciente">
    <part name="parameters" element="tns:verificarCuentaPaciente" />
  </message>
  <message name="verificarCuentaPacienteResponse">
    <part name="parameters" element="tns:verificarCuentaPacienteResponse" />
  </message>
  <message name="verificarCuentaMedico">
    <part name="parameters" element="tns:verificarCuentaMedico" />
  </message>
  <message name="verificarCuentaMedicoResponse">
    <part name="parameters" element="tns:verificarCuentaMedicoResponse" />
  </message>
  <portType name="CuentaUsuarioWS">
    <operation name="verificarCuentaAdministrador">
      <input wsam:Action="http://services.pucp.edu.pe/CuentaUsuarioWS/verificarCuentaAdministradorRequest" message="tns:verificarCuentaAdministrador" />
      <output wsam:Action="http://services.pucp.edu.pe/CuentaUsuarioWS/verificarCuentaAdministradorResponse" message="tns:verificarCuentaAdministradorResponse" />
    </operation>
    <operation name="insertarCuenta">
      <input wsam:Action="http://services.pucp.edu.pe/CuentaUsuarioWS/insertarCuentaRequest" message="tns:insertarCuenta" />
      <output wsam:Action="http://services.pucp.edu.pe/CuentaUsuarioWS/insertarCuentaResponse" message="tns:insertarCuentaResponse" />
    </operation>
    <operation name="verificarCuentaPaciente">
      <input wsam:Action="http://services.pucp.edu.pe/CuentaUsuarioWS/verificarCuentaPacienteRequest" message="tns:verificarCuentaPaciente" />
      <output wsam:Action="http://services.pucp.edu.pe/CuentaUsuarioWS/verificarCuentaPacienteResponse" message="tns:verificarCuentaPacienteResponse" />
    </operation>
    <operation name="verificarCuentaMedico">
      <input wsam:Action="http://services.pucp.edu.pe/CuentaUsuarioWS/verificarCuentaMedicoRequest" message="tns:verificarCuentaMedico" />
      <output wsam:Action="http://services.pucp.edu.pe/CuentaUsuarioWS/verificarCuentaMedicoResponse" message="tns:verificarCuentaMedicoResponse" />
    </operation>
  </portType>
  <binding name="CuentaUsuarioWSPortBinding" type="tns:CuentaUsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="verificarCuentaAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCuenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarCuentaPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarCuentaMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CuentaUsuarioWS">
    <port name="CuentaUsuarioWSPort" binding="tns:CuentaUsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/CuentaUsuarioWS" />
    </port>
  </service>
</definitions>