FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/DisponibilidadWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DisponibilidadWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/DisponibilidadWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarDisponibilidad">
    <part name="parameters" element="tns:listarDisponibilidad" />
  </message>
  <message name="listarDisponibilidadResponse">
    <part name="parameters" element="tns:listarDisponibilidadResponse" />
  </message>
  <message name="insertarDisponibilidad">
    <part name="parameters" element="tns:insertarDisponibilidad" />
  </message>
  <message name="insertarDisponibilidadResponse">
    <part name="parameters" element="tns:insertarDisponibilidadResponse" />
  </message>
  <message name="modificarDisponibilidad">
    <part name="parameters" element="tns:modificarDisponibilidad" />
  </message>
  <message name="modificarDisponibilidadResponse">
    <part name="parameters" element="tns:modificarDisponibilidadResponse" />
  </message>
  <portType name="DisponibilidadWS">
    <operation name="listarDisponibilidad">
      <input wsam:Action="http://services.pucp.edu.pe/DisponibilidadWS/listarDisponibilidadRequest" message="tns:listarDisponibilidad" />
      <output wsam:Action="http://services.pucp.edu.pe/DisponibilidadWS/listarDisponibilidadResponse" message="tns:listarDisponibilidadResponse" />
    </operation>
    <operation name="insertarDisponibilidad">
      <input wsam:Action="http://services.pucp.edu.pe/DisponibilidadWS/insertarDisponibilidadRequest" message="tns:insertarDisponibilidad" />
      <output wsam:Action="http://services.pucp.edu.pe/DisponibilidadWS/insertarDisponibilidadResponse" message="tns:insertarDisponibilidadResponse" />
    </operation>
    <operation name="modificarDisponibilidad">
      <input wsam:Action="http://services.pucp.edu.pe/DisponibilidadWS/modificarDisponibilidadRequest" message="tns:modificarDisponibilidad" />
      <output wsam:Action="http://services.pucp.edu.pe/DisponibilidadWS/modificarDisponibilidadResponse" message="tns:modificarDisponibilidadResponse" />
    </operation>
  </portType>
  <binding name="DisponibilidadWSPortBinding" type="tns:DisponibilidadWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarDisponibilidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDisponibilidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarDisponibilidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DisponibilidadWS">
    <port name="DisponibilidadWSPort" binding="tns:DisponibilidadWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/DisponibilidadWS" />
    </port>
  </service>
</definitions>