FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/EspecialidadWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EspecialidadWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/EspecialidadWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarXSede">
    <part name="parameters" element="tns:listarXSede" />
  </message>
  <message name="listarXSedeResponse">
    <part name="parameters" element="tns:listarXSedeResponse" />
  </message>
  <message name="listarEspecialidad">
    <part name="parameters" element="tns:listarEspecialidad" />
  </message>
  <message name="listarEspecialidadResponse">
    <part name="parameters" element="tns:listarEspecialidadResponse" />
  </message>
  <message name="insertarEspecialidad">
    <part name="parameters" element="tns:insertarEspecialidad" />
  </message>
  <message name="insertarEspecialidadResponse">
    <part name="parameters" element="tns:insertarEspecialidadResponse" />
  </message>
  <message name="obtenerEspecialidadPorId">
    <part name="parameters" element="tns:obtenerEspecialidadPorId" />
  </message>
  <message name="obtenerEspecialidadPorIdResponse">
    <part name="parameters" element="tns:obtenerEspecialidadPorIdResponse" />
  </message>
  <message name="modificarEspecialidad">
    <part name="parameters" element="tns:modificarEspecialidad" />
  </message>
  <message name="modificarEspecialidadResponse">
    <part name="parameters" element="tns:modificarEspecialidadResponse" />
  </message>
  <message name="eliminarEspecialidad">
    <part name="parameters" element="tns:eliminarEspecialidad" />
  </message>
  <message name="eliminarEspecialidadResponse">
    <part name="parameters" element="tns:eliminarEspecialidadResponse" />
  </message>
  <portType name="EspecialidadWS">
    <operation name="listarXSede">
      <input wsam:Action="http://services.pucp.edu.pe/EspecialidadWS/listarXSedeRequest" message="tns:listarXSede" />
      <output wsam:Action="http://services.pucp.edu.pe/EspecialidadWS/listarXSedeResponse" message="tns:listarXSedeResponse" />
    </operation>
    <operation name="listarEspecialidad">
      <input wsam:Action="http://services.pucp.edu.pe/EspecialidadWS/listarEspecialidadRequest" message="tns:listarEspecialidad" />
      <output wsam:Action="http://services.pucp.edu.pe/EspecialidadWS/listarEspecialidadResponse" message="tns:listarEspecialidadResponse" />
    </operation>
    <operation name="insertarEspecialidad">
      <input wsam:Action="http://services.pucp.edu.pe/EspecialidadWS/insertarEspecialidadRequest" message="tns:insertarEspecialidad" />
      <output wsam:Action="http://services.pucp.edu.pe/EspecialidadWS/insertarEspecialidadResponse" message="tns:insertarEspecialidadResponse" />
    </operation>
    <operation name="obtenerEspecialidadPorId">
      <input wsam:Action="http://services.pucp.edu.pe/EspecialidadWS/obtenerEspecialidadPorIdRequest" message="tns:obtenerEspecialidadPorId" />
      <output wsam:Action="http://services.pucp.edu.pe/EspecialidadWS/obtenerEspecialidadPorIdResponse" message="tns:obtenerEspecialidadPorIdResponse" />
    </operation>
    <operation name="modificarEspecialidad">
      <input wsam:Action="http://services.pucp.edu.pe/EspecialidadWS/modificarEspecialidadRequest" message="tns:modificarEspecialidad" />
      <output wsam:Action="http://services.pucp.edu.pe/EspecialidadWS/modificarEspecialidadResponse" message="tns:modificarEspecialidadResponse" />
    </operation>
    <operation name="eliminarEspecialidad">
      <input wsam:Action="http://services.pucp.edu.pe/EspecialidadWS/eliminarEspecialidadRequest" message="tns:eliminarEspecialidad" />
      <output wsam:Action="http://services.pucp.edu.pe/EspecialidadWS/eliminarEspecialidadResponse" message="tns:eliminarEspecialidadResponse" />
    </operation>
  </portType>
  <binding name="EspecialidadWSPortBinding" type="tns:EspecialidadWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarXSede">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerEspecialidadPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EspecialidadWS">
    <port name="EspecialidadWSPort" binding="tns:EspecialidadWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/EspecialidadWS" />
    </port>
  </service>
</definitions>