FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/HistorialMedicoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HistorialMedicoWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/HistorialMedicoWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="eliminarHistorial">
    <part name="parameters" element="tns:eliminarHistorial" />
  </message>
  <message name="eliminarHistorialResponse">
    <part name="parameters" element="tns:eliminarHistorialResponse" />
  </message>
  <message name="insertarHistorial">
    <part name="parameters" element="tns:insertarHistorial" />
  </message>
  <message name="insertarHistorialResponse">
    <part name="parameters" element="tns:insertarHistorialResponse" />
  </message>
  <message name="listarHistorial">
    <part name="parameters" element="tns:listarHistorial" />
  </message>
  <message name="listarHistorialResponse">
    <part name="parameters" element="tns:listarHistorialResponse" />
  </message>
  <portType name="HistorialMedicoWS">
    <operation name="eliminarHistorial">
      <input wsam:Action="http://services.pucp.edu.pe/HistorialMedicoWS/eliminarHistorialRequest" message="tns:eliminarHistorial" />
      <output wsam:Action="http://services.pucp.edu.pe/HistorialMedicoWS/eliminarHistorialResponse" message="tns:eliminarHistorialResponse" />
    </operation>
    <operation name="insertarHistorial">
      <input wsam:Action="http://services.pucp.edu.pe/HistorialMedicoWS/insertarHistorialRequest" message="tns:insertarHistorial" />
      <output wsam:Action="http://services.pucp.edu.pe/HistorialMedicoWS/insertarHistorialResponse" message="tns:insertarHistorialResponse" />
    </operation>
    <operation name="listarHistorial">
      <input wsam:Action="http://services.pucp.edu.pe/HistorialMedicoWS/listarHistorialRequest" message="tns:listarHistorial" />
      <output wsam:Action="http://services.pucp.edu.pe/HistorialMedicoWS/listarHistorialResponse" message="tns:listarHistorialResponse" />
    </operation>
  </portType>
  <binding name="HistorialMedicoWSPortBinding" type="tns:HistorialMedicoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarHistorial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarHistorial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarHistorial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HistorialMedicoWS">
    <port name="HistorialMedicoWSPort" binding="tns:HistorialMedicoWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/HistorialMedicoWS" />
    </port>
  </service>
</definitions>