FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/HorarioTrabajoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HorarioTrabajoWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/HorarioTrabajoWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="eliminarHorarioPorMedico">
    <part name="parameters" element="tns:eliminarHorarioPorMedico" />
  </message>
  <message name="eliminarHorarioPorMedicoResponse">
    <part name="parameters" element="tns:eliminarHorarioPorMedicoResponse" />
  </message>
  <message name="listarPorMedico">
    <part name="parameters" element="tns:listarPorMedico" />
  </message>
  <message name="listarPorMedicoResponse">
    <part name="parameters" element="tns:listarPorMedicoResponse" />
  </message>
  <message name="eliminarHorario">
    <part name="parameters" element="tns:eliminarHorario" />
  </message>
  <message name="eliminarHorarioResponse">
    <part name="parameters" element="tns:eliminarHorarioResponse" />
  </message>
  <message name="insertaHorario">
    <part name="parameters" element="tns:insertaHorario" />
  </message>
  <message name="insertaHorarioResponse">
    <part name="parameters" element="tns:insertaHorarioResponse" />
  </message>
  <message name="modificarHorario">
    <part name="parameters" element="tns:modificarHorario" />
  </message>
  <message name="modificarHorarioResponse">
    <part name="parameters" element="tns:modificarHorarioResponse" />
  </message>
  <message name="listarHorario">
    <part name="parameters" element="tns:listarHorario" />
  </message>
  <message name="listarHorarioResponse">
    <part name="parameters" element="tns:listarHorarioResponse" />
  </message>
  <portType name="HorarioTrabajoWS">
    <operation name="eliminarHorarioPorMedico">
      <input wsam:Action="http://services.pucp.edu.pe/HorarioTrabajoWS/eliminarHorarioPorMedicoRequest" message="tns:eliminarHorarioPorMedico" />
      <output wsam:Action="http://services.pucp.edu.pe/HorarioTrabajoWS/eliminarHorarioPorMedicoResponse" message="tns:eliminarHorarioPorMedicoResponse" />
    </operation>
    <operation name="listarPorMedico">
      <input wsam:Action="http://services.pucp.edu.pe/HorarioTrabajoWS/listarPorMedicoRequest" message="tns:listarPorMedico" />
      <output wsam:Action="http://services.pucp.edu.pe/HorarioTrabajoWS/listarPorMedicoResponse" message="tns:listarPorMedicoResponse" />
    </operation>
    <operation name="eliminarHorario">
      <input wsam:Action="http://services.pucp.edu.pe/HorarioTrabajoWS/eliminarHorarioRequest" message="tns:eliminarHorario" />
      <output wsam:Action="http://services.pucp.edu.pe/HorarioTrabajoWS/eliminarHorarioResponse" message="tns:eliminarHorarioResponse" />
    </operation>
    <operation name="insertaHorario">
      <input wsam:Action="http://services.pucp.edu.pe/HorarioTrabajoWS/insertaHorarioRequest" message="tns:insertaHorario" />
      <output wsam:Action="http://services.pucp.edu.pe/HorarioTrabajoWS/insertaHorarioResponse" message="tns:insertaHorarioResponse" />
    </operation>
    <operation name="modificarHorario">
      <input wsam:Action="http://services.pucp.edu.pe/HorarioTrabajoWS/modificarHorarioRequest" message="tns:modificarHorario" />
      <output wsam:Action="http://services.pucp.edu.pe/HorarioTrabajoWS/modificarHorarioResponse" message="tns:modificarHorarioResponse" />
    </operation>
    <operation name="listarHorario">
      <input wsam:Action="http://services.pucp.edu.pe/HorarioTrabajoWS/listarHorarioRequest" message="tns:listarHorario" />
      <output wsam:Action="http://services.pucp.edu.pe/HorarioTrabajoWS/listarHorarioResponse" message="tns:listarHorarioResponse" />
    </operation>
  </portType>
  <binding name="HorarioTrabajoWSPortBinding" type="tns:HorarioTrabajoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarHorarioPorMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarHorario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertaHorario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarHorario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarHorario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HorarioTrabajoWS">
    <port name="HorarioTrabajoWSPort" binding="tns:HorarioTrabajoWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/HorarioTrabajoWS" />
    </port>
  </service>
</definitions>