FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/MedicamentoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MedicamentoWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/MedicamentoWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="eliminarMedicamento">
    <part name="parameters" element="tns:eliminarMedicamento" />
  </message>
  <message name="eliminarMedicamentoResponse">
    <part name="parameters" element="tns:eliminarMedicamentoResponse" />
  </message>
  <message name="listarMedicamento">
    <part name="parameters" element="tns:listarMedicamento" />
  </message>
  <message name="listarMedicamentoResponse">
    <part name="parameters" element="tns:listarMedicamentoResponse" />
  </message>
  <message name="modificarMedicamento">
    <part name="parameters" element="tns:modificarMedicamento" />
  </message>
  <message name="modificarMedicamentoResponse">
    <part name="parameters" element="tns:modificarMedicamentoResponse" />
  </message>
  <message name="insertarMedicamento">
    <part name="parameters" element="tns:insertarMedicamento" />
  </message>
  <message name="insertarMedicamentoResponse">
    <part name="parameters" element="tns:insertarMedicamentoResponse" />
  </message>
  <message name="listarMedicamentoXnombre">
    <part name="parameters" element="tns:listarMedicamentoXnombre" />
  </message>
  <message name="listarMedicamentoXnombreResponse">
    <part name="parameters" element="tns:listarMedicamentoXnombreResponse" />
  </message>
  <portType name="MedicamentoWS">
    <operation name="eliminarMedicamento">
      <input wsam:Action="http://services.pucp.edu.pe/MedicamentoWS/eliminarMedicamentoRequest" message="tns:eliminarMedicamento" />
      <output wsam:Action="http://services.pucp.edu.pe/MedicamentoWS/eliminarMedicamentoResponse" message="tns:eliminarMedicamentoResponse" />
    </operation>
    <operation name="listarMedicamento">
      <input wsam:Action="http://services.pucp.edu.pe/MedicamentoWS/listarMedicamentoRequest" message="tns:listarMedicamento" />
      <output wsam:Action="http://services.pucp.edu.pe/MedicamentoWS/listarMedicamentoResponse" message="tns:listarMedicamentoResponse" />
    </operation>
    <operation name="modificarMedicamento">
      <input wsam:Action="http://services.pucp.edu.pe/MedicamentoWS/modificarMedicamentoRequest" message="tns:modificarMedicamento" />
      <output wsam:Action="http://services.pucp.edu.pe/MedicamentoWS/modificarMedicamentoResponse" message="tns:modificarMedicamentoResponse" />
    </operation>
    <operation name="insertarMedicamento">
      <input wsam:Action="http://services.pucp.edu.pe/MedicamentoWS/insertarMedicamentoRequest" message="tns:insertarMedicamento" />
      <output wsam:Action="http://services.pucp.edu.pe/MedicamentoWS/insertarMedicamentoResponse" message="tns:insertarMedicamentoResponse" />
    </operation>
    <operation name="listarMedicamentoXnombre">
      <input wsam:Action="http://services.pucp.edu.pe/MedicamentoWS/listarMedicamentoXnombreRequest" message="tns:listarMedicamentoXnombre" />
      <output wsam:Action="http://services.pucp.edu.pe/MedicamentoWS/listarMedicamentoXnombreResponse" message="tns:listarMedicamentoXnombreResponse" />
    </operation>
  </portType>
  <binding name="MedicamentoWSPortBinding" type="tns:MedicamentoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarMedicamento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMedicamento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarMedicamento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMedicamento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMedicamentoXnombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MedicamentoWS">
    <port name="MedicamentoWSPort" binding="tns:MedicamentoWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/MedicamentoWS" />
    </port>
  </service>
</definitions>