FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/MedicoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MedicoWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/MedicoWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarMedico">
    <part name="parameters" element="tns:listarMedico" />
  </message>
  <message name="listarMedicoResponse">
    <part name="parameters" element="tns:listarMedicoResponse" />
  </message>
  <message name="eliminarMedico">
    <part name="parameters" element="tns:eliminarMedico" />
  </message>
  <message name="eliminarMedicoResponse">
    <part name="parameters" element="tns:eliminarMedicoResponse" />
  </message>
  <message name="insertarMedico">
    <part name="parameters" element="tns:insertarMedico" />
  </message>
  <message name="insertarMedicoResponse">
    <part name="parameters" element="tns:insertarMedicoResponse" />
  </message>
  <message name="modificarMedico">
    <part name="parameters" element="tns:modificarMedico" />
  </message>
  <message name="modificarMedicoResponse">
    <part name="parameters" element="tns:modificarMedicoResponse" />
  </message>
  <message name="obtenerMedico">
    <part name="parameters" element="tns:obtenerMedico" />
  </message>
  <message name="obtenerMedicoResponse">
    <part name="parameters" element="tns:obtenerMedicoResponse" />
  </message>
  <message name="listarMedicoXEspXSede">
    <part name="parameters" element="tns:listarMedicoXEspXSede" />
  </message>
  <message name="listarMedicoXEspXSedeResponse">
    <part name="parameters" element="tns:listarMedicoXEspXSedeResponse" />
  </message>
  <portType name="MedicoWS">
    <operation name="listarMedico">
      <input wsam:Action="http://services.pucp.edu.pe/MedicoWS/listarMedicoRequest" message="tns:listarMedico" />
      <output wsam:Action="http://services.pucp.edu.pe/MedicoWS/listarMedicoResponse" message="tns:listarMedicoResponse" />
    </operation>
    <operation name="eliminarMedico">
      <input wsam:Action="http://services.pucp.edu.pe/MedicoWS/eliminarMedicoRequest" message="tns:eliminarMedico" />
      <output wsam:Action="http://services.pucp.edu.pe/MedicoWS/eliminarMedicoResponse" message="tns:eliminarMedicoResponse" />
    </operation>
    <operation name="insertarMedico">
      <input wsam:Action="http://services.pucp.edu.pe/MedicoWS/insertarMedicoRequest" message="tns:insertarMedico" />
      <output wsam:Action="http://services.pucp.edu.pe/MedicoWS/insertarMedicoResponse" message="tns:insertarMedicoResponse" />
    </operation>
    <operation name="modificarMedico">
      <input wsam:Action="http://services.pucp.edu.pe/MedicoWS/modificarMedicoRequest" message="tns:modificarMedico" />
      <output wsam:Action="http://services.pucp.edu.pe/MedicoWS/modificarMedicoResponse" message="tns:modificarMedicoResponse" />
    </operation>
    <operation name="obtenerMedico">
      <input wsam:Action="http://services.pucp.edu.pe/MedicoWS/obtenerMedicoRequest" message="tns:obtenerMedico" />
      <output wsam:Action="http://services.pucp.edu.pe/MedicoWS/obtenerMedicoResponse" message="tns:obtenerMedicoResponse" />
    </operation>
    <operation name="listarMedicoXEspXSede">
      <input wsam:Action="http://services.pucp.edu.pe/MedicoWS/listarMedicoXEspXSedeRequest" message="tns:listarMedicoXEspXSede" />
      <output wsam:Action="http://services.pucp.edu.pe/MedicoWS/listarMedicoXEspXSedeResponse" message="tns:listarMedicoXEspXSedeResponse" />
    </operation>
  </portType>
  <binding name="MedicoWSPortBinding" type="tns:MedicoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMedicoXEspXSede">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MedicoWS">
    <port name="MedicoWSPort" binding="tns:MedicoWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/MedicoWS" />
    </port>
  </service>
</definitions>