FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/NotaClinicaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NotaClinicaWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/NotaClinicaWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="insertarNotaClinica">
    <part name="parameters" element="tns:insertarNotaClinica" />
  </message>
  <message name="insertarNotaClinicaResponse">
    <part name="parameters" element="tns:insertarNotaClinicaResponse" />
  </message>
  <message name="modificarNotaClinica">
    <part name="parameters" element="tns:modificarNotaClinica" />
  </message>
  <message name="modificarNotaClinicaResponse">
    <part name="parameters" element="tns:modificarNotaClinicaResponse" />
  </message>
  <message name="listarNotaClinica">
    <part name="parameters" element="tns:listarNotaClinica" />
  </message>
  <message name="listarNotaClinicaResponse">
    <part name="parameters" element="tns:listarNotaClinicaResponse" />
  </message>
  <portType name="NotaClinicaWS">
    <operation name="insertarNotaClinica">
      <input wsam:Action="http://services.pucp.edu.pe/NotaClinicaWS/insertarNotaClinicaRequest" message="tns:insertarNotaClinica" />
      <output wsam:Action="http://services.pucp.edu.pe/NotaClinicaWS/insertarNotaClinicaResponse" message="tns:insertarNotaClinicaResponse" />
    </operation>
    <operation name="modificarNotaClinica">
      <input wsam:Action="http://services.pucp.edu.pe/NotaClinicaWS/modificarNotaClinicaRequest" message="tns:modificarNotaClinica" />
      <output wsam:Action="http://services.pucp.edu.pe/NotaClinicaWS/modificarNotaClinicaResponse" message="tns:modificarNotaClinicaResponse" />
    </operation>
    <operation name="listarNotaClinica">
      <input wsam:Action="http://services.pucp.edu.pe/NotaClinicaWS/listarNotaClinicaRequest" message="tns:listarNotaClinica" />
      <output wsam:Action="http://services.pucp.edu.pe/NotaClinicaWS/listarNotaClinicaResponse" message="tns:listarNotaClinicaResponse" />
    </operation>
  </portType>
  <binding name="NotaClinicaWSPortBinding" type="tns:NotaClinicaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarNotaClinica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarNotaClinica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarNotaClinica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NotaClinicaWS">
    <port name="NotaClinicaWSPort" binding="tns:NotaClinicaWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/NotaClinicaWS" />
    </port>
  </service>
</definitions>