FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/PagoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PagoWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/PagoWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="modificarPago">
    <part name="parameters" element="tns:modificarPago" />
  </message>
  <message name="modificarPagoResponse">
    <part name="parameters" element="tns:modificarPagoResponse" />
  </message>
  <message name="insertarPago">
    <part name="parameters" element="tns:insertarPago" />
  </message>
  <message name="insertarPagoResponse">
    <part name="parameters" element="tns:insertarPagoResponse" />
  </message>
  <message name="eliminarPago">
    <part name="parameters" element="tns:eliminarPago" />
  </message>
  <message name="eliminarPagoResponse">
    <part name="parameters" element="tns:eliminarPagoResponse" />
  </message>
  <message name="listarPago">
    <part name="parameters" element="tns:listarPago" />
  </message>
  <message name="listarPagoResponse">
    <part name="parameters" element="tns:listarPagoResponse" />
  </message>
  <portType name="PagoWS">
    <operation name="modificarPago">
      <input wsam:Action="http://services.pucp.edu.pe/PagoWS/modificarPagoRequest" message="tns:modificarPago" />
      <output wsam:Action="http://services.pucp.edu.pe/PagoWS/modificarPagoResponse" message="tns:modificarPagoResponse" />
    </operation>
    <operation name="insertarPago">
      <input wsam:Action="http://services.pucp.edu.pe/PagoWS/insertarPagoRequest" message="tns:insertarPago" />
      <output wsam:Action="http://services.pucp.edu.pe/PagoWS/insertarPagoResponse" message="tns:insertarPagoResponse" />
    </operation>
    <operation name="eliminarPago">
      <input wsam:Action="http://services.pucp.edu.pe/PagoWS/eliminarPagoRequest" message="tns:eliminarPago" />
      <output wsam:Action="http://services.pucp.edu.pe/PagoWS/eliminarPagoResponse" message="tns:eliminarPagoResponse" />
    </operation>
    <operation name="listarPago">
      <input wsam:Action="http://services.pucp.edu.pe/PagoWS/listarPagoRequest" message="tns:listarPago" />
      <output wsam:Action="http://services.pucp.edu.pe/PagoWS/listarPagoResponse" message="tns:listarPagoResponse" />
    </operation>
  </portType>
  <binding name="PagoWSPortBinding" type="tns:PagoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PagoWS">
    <port name="PagoWSPort" binding="tns:PagoWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/PagoWS" />
    </port>
  </service>
</definitions>