FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/PagoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPago" type="tns:eliminarPago" />
  <xs:element name="eliminarPagoResponse" type="tns:eliminarPagoResponse" />
  <xs:element name="insertarPago" type="tns:insertarPago" />
  <xs:element name="insertarPagoResponse" type="tns:insertarPagoResponse" />
  <xs:element name="listarPago" type="tns:listarPago" />
  <xs:element name="listarPagoResponse" type="tns:listarPagoResponse" />
  <xs:element name="modificarPago" type="tns:modificarPago" />
  <xs:element name="modificarPagoResponse" type="tns:modificarPagoResponse" />
  <xs:complexType name="modificarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="pago" type="tns:pago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pago">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="cita" type="tns:cita" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoPago" />
      <xs:element minOccurs="0" name="fechaPago" type="xs:dateTime" />
      <xs:element name="idPago" type="xs:int" />
      <xs:element name="montoCubiertoSeguro" type="xs:double" />
      <xs:element name="montoSubtotal" type="xs:double" />
      <xs:element name="montoTotal" type="xs:double" />
      <xs:element minOccurs="0" name="seguro" type="tns:seguro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="estadoAtencion" type="tns:estadoAtencion" />
      <xs:element minOccurs="0" name="estadoCita" type="tns:estadoCita" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horarioTrabajo" type="tns:horarioTrabajo" />
      <xs:element name="idCita" type="xs:int" />
      <xs:element minOccurs="0" name="motivoConsulta" type="xs:string" />
      <xs:element minOccurs="0" name="notaClinica" type="tns:notaClinica" />
      <xs:element minOccurs="0" name="paciente" type="tns:paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horarioTrabajo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idHorarioTrabajo" type="xs:int" />
      <xs:element minOccurs="0" name="medico" type="tns:medico" />
      <xs:element minOccurs="0" name="turno" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="medico">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="codigoMedico" type="xs:string" />
          <xs:element minOccurs="0" name="consultorio" type="tns:consultorio" />
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element minOccurs="0" name="sede" type="tns:sede" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="genero" type="xs:unsignedShort" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultorio">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="asignado" type="xs:boolean" />
      <xs:element name="capacidad" type="xs:int" />
      <xs:element name="idConsultorio" type="xs:int" />
      <xs:element minOccurs="0" name="nombreConsultorio" type="xs:string" />
      <xs:element name="piso" type="xs:int" />
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="consultorios" nillable="true" type="tns:consultorio" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="idSede" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="medicos" nillable="true" type="tns:medico" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="citas" nillable="true" type="tns:cita" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="medicos" nillable="true" type="tns:medico" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sedes" nillable="true" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="dia" type="tns:diaSemana" />
      <xs:element minOccurs="0" name="horaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:dateTime" />
      <xs:element name="idTurno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notaClinica">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="cita" type="tns:cita" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="diagnostico" type="xs:string" />
      <xs:element minOccurs="0" name="historial" type="tns:historialMedico" />
      <xs:element name="idNota" type="xs:int" />
      <xs:element minOccurs="0" name="observaciones" type="xs:string" />
      <xs:element minOccurs="0" name="receta" type="tns:receta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="historialMedico">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="xs:dateTime" />
      <xs:element name="idhistorial" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="notasClinicas" nillable="true" type="tns:notaClinica" />
      <xs:element minOccurs="0" name="paciente" type="tns:paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paciente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="citas" nillable="true" type="tns:cita" />
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element minOccurs="0" name="historialMedico" type="tns:historialMedico" />
          <xs:element minOccurs="0" name="seguro" type="tns:seguro" />
          <xs:element minOccurs="0" name="telefono" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="seguro">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idSeguro" type="xs:int" />
      <xs:element minOccurs="0" name="nombreSeguro" type="xs:string" />
      <xs:element name="porcentajeCobertura" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoSeguro" />
      <xs:element minOccurs="0" name="vigencia" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="receta">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaPrescripcion" type="xs:dateTime" />
      <xs:element name="idReceta" type="xs:int" />
      <xs:element minOccurs="0" name="indicaciones" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasReceta" nillable="true" type="tns:lineaRecetaMedicamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaRecetaMedicamento">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="idLineaRecetaMedicamento" type="xs:int" />
      <xs:element minOccurs="0" name="medicamento" type="tns:medicamento" />
      <xs:element minOccurs="0" name="receta" type="tns:receta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="medicamento">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idMedicamento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="presentacion" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPago">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPago">
    <xs:sequence>
      <xs:element name="idpago" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="pago" type="tns:pago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoAtencion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="CITADO" />
      <xs:enumeration value="EN_ESPERA" />
      <xs:enumeration value="EN_CONSULTORIO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoCita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PROGRAMADA" />
      <xs:enumeration value="CANCELADA" />
      <xs:enumeration value="ATENDIDA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="diaSemana">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LUNES" />
      <xs:enumeration value="MARTES" />
      <xs:enumeration value="MIERCOLES" />
      <xs:enumeration value="JUEVES" />
      <xs:enumeration value="VIERNES" />
      <xs:enumeration value="SABADO" />
      <xs:enumeration value="DOMINGO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoSeguro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NINGUNO" />
      <xs:enumeration value="PARCIAL" />
      <xs:enumeration value="TOTAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="CANCELADA" />
      <xs:enumeration value="VENCIDO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>