FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/RecetaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RecetaWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/RecetaWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="insertarReceta">
    <part name="parameters" element="tns:insertarReceta" />
  </message>
  <message name="insertarRecetaResponse">
    <part name="parameters" element="tns:insertarRecetaResponse" />
  </message>
  <message name="listarReceta">
    <part name="parameters" element="tns:listarReceta" />
  </message>
  <message name="listarRecetaResponse">
    <part name="parameters" element="tns:listarRecetaResponse" />
  </message>
  <message name="modificarReceta">
    <part name="parameters" element="tns:modificarReceta" />
  </message>
  <message name="modificarRecetaResponse">
    <part name="parameters" element="tns:modificarRecetaResponse" />
  </message>
  <portType name="RecetaWS">
    <operation name="insertarReceta">
      <input wsam:Action="http://services.pucp.edu.pe/RecetaWS/insertarRecetaRequest" message="tns:insertarReceta" />
      <output wsam:Action="http://services.pucp.edu.pe/RecetaWS/insertarRecetaResponse" message="tns:insertarRecetaResponse" />
    </operation>
    <operation name="listarReceta">
      <input wsam:Action="http://services.pucp.edu.pe/RecetaWS/listarRecetaRequest" message="tns:listarReceta" />
      <output wsam:Action="http://services.pucp.edu.pe/RecetaWS/listarRecetaResponse" message="tns:listarRecetaResponse" />
    </operation>
    <operation name="modificarReceta">
      <input wsam:Action="http://services.pucp.edu.pe/RecetaWS/modificarRecetaRequest" message="tns:modificarReceta" />
      <output wsam:Action="http://services.pucp.edu.pe/RecetaWS/modificarRecetaResponse" message="tns:modificarRecetaResponse" />
    </operation>
  </portType>
  <binding name="RecetaWSPortBinding" type="tns:RecetaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarReceta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarReceta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarReceta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RecetaWS">
    <port name="RecetaWSPort" binding="tns:RecetaWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/RecetaWS" />
    </port>
  </service>
</definitions>