FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/RecetaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarReceta" type="tns:insertarReceta" />
  <xs:element name="insertarRecetaResponse" type="tns:insertarRecetaResponse" />
  <xs:element name="listarReceta" type="tns:listarReceta" />
  <xs:element name="listarRecetaResponse" type="tns:listarRecetaResponse" />
  <xs:element name="modificarReceta" type="tns:modificarReceta" />
  <xs:element name="modificarRecetaResponse" type="tns:modificarRecetaResponse" />
  <xs:complexType name="listarReceta">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarRecetaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:receta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="receta">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaPrescripcion" type="tns:localDate" />
      <xs:element name="idReceta" type="xs:int" />
      <xs:element minOccurs="0" name="indicaciones" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="medicamentos" nillable="true" type="tns:medicamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="medicamento">
    <xs:sequence>
      <xs:element name="idMedicamento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="presentacion" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarReceta">
    <xs:sequence>
      <xs:element minOccurs="0" name="receta" type="tns:receta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarRecetaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarReceta">
    <xs:sequence>
      <xs:element minOccurs="0" name="receta" type="tns:receta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRecetaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>