FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/RecepcionistaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RecepcionistaWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/RecepcionistaWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarRecepcionista">
    <part name="parameters" element="tns:listarRecepcionista" />
  </message>
  <message name="listarRecepcionistaResponse">
    <part name="parameters" element="tns:listarRecepcionistaResponse" />
  </message>
  <message name="eliminarRecepcionista">
    <part name="parameters" element="tns:eliminarRecepcionista" />
  </message>
  <message name="eliminarRecepcionistaResponse">
    <part name="parameters" element="tns:eliminarRecepcionistaResponse" />
  </message>
  <message name="insertarRecepcionista">
    <part name="parameters" element="tns:insertarRecepcionista" />
  </message>
  <message name="insertarRecepcionistaResponse">
    <part name="parameters" element="tns:insertarRecepcionistaResponse" />
  </message>
  <message name="modificarRecepcionista">
    <part name="parameters" element="tns:modificarRecepcionista" />
  </message>
  <message name="modificarRecepcionistaResponse">
    <part name="parameters" element="tns:modificarRecepcionistaResponse" />
  </message>
  <portType name="RecepcionistaWS">
    <operation name="listarRecepcionista">
      <input wsam:Action="http://services.pucp.edu.pe/RecepcionistaWS/listarRecepcionistaRequest" message="tns:listarRecepcionista" />
      <output wsam:Action="http://services.pucp.edu.pe/RecepcionistaWS/listarRecepcionistaResponse" message="tns:listarRecepcionistaResponse" />
    </operation>
    <operation name="eliminarRecepcionista">
      <input wsam:Action="http://services.pucp.edu.pe/RecepcionistaWS/eliminarRecepcionistaRequest" message="tns:eliminarRecepcionista" />
      <output wsam:Action="http://services.pucp.edu.pe/RecepcionistaWS/eliminarRecepcionistaResponse" message="tns:eliminarRecepcionistaResponse" />
    </operation>
    <operation name="insertarRecepcionista">
      <input wsam:Action="http://services.pucp.edu.pe/RecepcionistaWS/insertarRecepcionistaRequest" message="tns:insertarRecepcionista" />
      <output wsam:Action="http://services.pucp.edu.pe/RecepcionistaWS/insertarRecepcionistaResponse" message="tns:insertarRecepcionistaResponse" />
    </operation>
    <operation name="modificarRecepcionista">
      <input wsam:Action="http://services.pucp.edu.pe/RecepcionistaWS/modificarRecepcionistaRequest" message="tns:modificarRecepcionista" />
      <output wsam:Action="http://services.pucp.edu.pe/RecepcionistaWS/modificarRecepcionistaResponse" message="tns:modificarRecepcionistaResponse" />
    </operation>
  </portType>
  <binding name="RecepcionistaWSPortBinding" type="tns:RecepcionistaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarRecepcionista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarRecepcionista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarRecepcionista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarRecepcionista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RecepcionistaWS">
    <port name="RecepcionistaWSPort" binding="tns:RecepcionistaWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/RecepcionistaWS" />
    </port>
  </service>
</definitions>