FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/SeguroWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SeguroWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/SeguroWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarSeguro">
    <part name="parameters" element="tns:listarSeguro" />
  </message>
  <message name="listarSeguroResponse">
    <part name="parameters" element="tns:listarSeguroResponse" />
  </message>
  <message name="eliminarSeguro">
    <part name="parameters" element="tns:eliminarSeguro" />
  </message>
  <message name="eliminarSeguroResponse">
    <part name="parameters" element="tns:eliminarSeguroResponse" />
  </message>
  <message name="modificarSeguro">
    <part name="parameters" element="tns:modificarSeguro" />
  </message>
  <message name="modificarSeguroResponse">
    <part name="parameters" element="tns:modificarSeguroResponse" />
  </message>
  <message name="insertarSeguro">
    <part name="parameters" element="tns:insertarSeguro" />
  </message>
  <message name="insertarSeguroResponse">
    <part name="parameters" element="tns:insertarSeguroResponse" />
  </message>
  <portType name="SeguroWS">
    <operation name="listarSeguro">
      <input wsam:Action="http://services.pucp.edu.pe/SeguroWS/listarSeguroRequest" message="tns:listarSeguro" />
      <output wsam:Action="http://services.pucp.edu.pe/SeguroWS/listarSeguroResponse" message="tns:listarSeguroResponse" />
    </operation>
    <operation name="eliminarSeguro">
      <input wsam:Action="http://services.pucp.edu.pe/SeguroWS/eliminarSeguroRequest" message="tns:eliminarSeguro" />
      <output wsam:Action="http://services.pucp.edu.pe/SeguroWS/eliminarSeguroResponse" message="tns:eliminarSeguroResponse" />
    </operation>
    <operation name="modificarSeguro">
      <input wsam:Action="http://services.pucp.edu.pe/SeguroWS/modificarSeguroRequest" message="tns:modificarSeguro" />
      <output wsam:Action="http://services.pucp.edu.pe/SeguroWS/modificarSeguroResponse" message="tns:modificarSeguroResponse" />
    </operation>
    <operation name="insertarSeguro">
      <input wsam:Action="http://services.pucp.edu.pe/SeguroWS/insertarSeguroRequest" message="tns:insertarSeguro" />
      <output wsam:Action="http://services.pucp.edu.pe/SeguroWS/insertarSeguroResponse" message="tns:insertarSeguroResponse" />
    </operation>
  </portType>
  <binding name="SeguroWSPortBinding" type="tns:SeguroWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarSeguro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSeguro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSeguro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSeguro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SeguroWS">
    <port name="SeguroWSPort" binding="tns:SeguroWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/SeguroWS" />
    </port>
  </service>
</definitions>