FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/SeguroWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarSeguro" type="tns:eliminarSeguro" />
  <xs:element name="eliminarSeguroResponse" type="tns:eliminarSeguroResponse" />
  <xs:element name="insertarSeguro" type="tns:insertarSeguro" />
  <xs:element name="insertarSeguroResponse" type="tns:insertarSeguroResponse" />
  <xs:element name="listarSeguro" type="tns:listarSeguro" />
  <xs:element name="listarSeguroResponse" type="tns:listarSeguroResponse" />
  <xs:element name="modificarSeguro" type="tns:modificarSeguro" />
  <xs:element name="modificarSeguroResponse" type="tns:modificarSeguroResponse" />
  <xs:complexType name="listarSeguro">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSeguroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:seguro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seguro">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idSeguro" type="xs:int" />
      <xs:element minOccurs="0" name="nombreSeguro" type="xs:string" />
      <xs:element name="porcentajeCobertura" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoSeguro" />
      <xs:element minOccurs="0" name="vigencia" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSeguro">
    <xs:sequence>
      <xs:element minOccurs="0" name="seguro" type="tns:seguro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSeguroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSeguro">
    <xs:sequence>
      <xs:element minOccurs="0" name="seguro" type="tns:seguro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSeguroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSeguro">
    <xs:sequence>
      <xs:element name="idseguro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSeguroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoSeguro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NINGUNO" />
      <xs:enumeration value="PARCIAL" />
      <xs:enumeration value="TOTAL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>