FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/TriajeWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TriajeWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/TriajeWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="eliminarTriaje">
    <part name="parameters" element="tns:eliminarTriaje" />
  </message>
  <message name="eliminarTriajeResponse">
    <part name="parameters" element="tns:eliminarTriajeResponse" />
  </message>
  <message name="listarTriaje">
    <part name="parameters" element="tns:listarTriaje" />
  </message>
  <message name="listarTriajeResponse">
    <part name="parameters" element="tns:listarTriajeResponse" />
  </message>
  <message name="modificarTriaje">
    <part name="parameters" element="tns:modificarTriaje" />
  </message>
  <message name="modificarTriajeResponse">
    <part name="parameters" element="tns:modificarTriajeResponse" />
  </message>
  <message name="insertarTriaje">
    <part name="parameters" element="tns:insertarTriaje" />
  </message>
  <message name="insertarTriajeResponse">
    <part name="parameters" element="tns:insertarTriajeResponse" />
  </message>
  <portType name="TriajeWS">
    <operation name="eliminarTriaje">
      <input wsam:Action="http://services.pucp.edu.pe/TriajeWS/eliminarTriajeRequest" message="tns:eliminarTriaje" />
      <output wsam:Action="http://services.pucp.edu.pe/TriajeWS/eliminarTriajeResponse" message="tns:eliminarTriajeResponse" />
    </operation>
    <operation name="listarTriaje">
      <input wsam:Action="http://services.pucp.edu.pe/TriajeWS/listarTriajeRequest" message="tns:listarTriaje" />
      <output wsam:Action="http://services.pucp.edu.pe/TriajeWS/listarTriajeResponse" message="tns:listarTriajeResponse" />
    </operation>
    <operation name="modificarTriaje">
      <input wsam:Action="http://services.pucp.edu.pe/TriajeWS/modificarTriajeRequest" message="tns:modificarTriaje" />
      <output wsam:Action="http://services.pucp.edu.pe/TriajeWS/modificarTriajeResponse" message="tns:modificarTriajeResponse" />
    </operation>
    <operation name="insertarTriaje">
      <input wsam:Action="http://services.pucp.edu.pe/TriajeWS/insertarTriajeRequest" message="tns:insertarTriaje" />
      <output wsam:Action="http://services.pucp.edu.pe/TriajeWS/insertarTriajeResponse" message="tns:insertarTriajeResponse" />
    </operation>
  </portType>
  <binding name="TriajeWSPortBinding" type="tns:TriajeWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarTriaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTriaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarTriaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarTriaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TriajeWS">
    <port name="TriajeWSPort" binding="tns:TriajeWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/TriajeWS" />
    </port>
  </service>
</definitions>