FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/TurnoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TurnoWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/TurnoWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="eliminarTurno">
    <part name="parameters" element="tns:eliminarTurno" />
  </message>
  <message name="eliminarTurnoResponse">
    <part name="parameters" element="tns:eliminarTurnoResponse" />
  </message>
  <message name="listarTurno">
    <part name="parameters" element="tns:listarTurno" />
  </message>
  <message name="listarTurnoResponse">
    <part name="parameters" element="tns:listarTurnoResponse" />
  </message>
  <message name="insertaTurno">
    <part name="parameters" element="tns:insertaTurno" />
  </message>
  <message name="insertaTurnoResponse">
    <part name="parameters" element="tns:insertaTurnoResponse" />
  </message>
  <message name="modificarTurno">
    <part name="parameters" element="tns:modificarTurno" />
  </message>
  <message name="modificarTurnoResponse">
    <part name="parameters" element="tns:modificarTurnoResponse" />
  </message>
  <message name="obtenerXId">
    <part name="parameters" element="tns:obtenerXId" />
  </message>
  <message name="obtenerXIdResponse">
    <part name="parameters" element="tns:obtenerXIdResponse" />
  </message>
  <portType name="TurnoWS">
    <operation name="eliminarTurno">
      <input wsam:Action="http://services.pucp.edu.pe/TurnoWS/eliminarTurnoRequest" message="tns:eliminarTurno" />
      <output wsam:Action="http://services.pucp.edu.pe/TurnoWS/eliminarTurnoResponse" message="tns:eliminarTurnoResponse" />
    </operation>
    <operation name="listarTurno">
      <input wsam:Action="http://services.pucp.edu.pe/TurnoWS/listarTurnoRequest" message="tns:listarTurno" />
      <output wsam:Action="http://services.pucp.edu.pe/TurnoWS/listarTurnoResponse" message="tns:listarTurnoResponse" />
    </operation>
    <operation name="insertaTurno">
      <input wsam:Action="http://services.pucp.edu.pe/TurnoWS/insertaTurnoRequest" message="tns:insertaTurno" />
      <output wsam:Action="http://services.pucp.edu.pe/TurnoWS/insertaTurnoResponse" message="tns:insertaTurnoResponse" />
    </operation>
    <operation name="modificarTurno">
      <input wsam:Action="http://services.pucp.edu.pe/TurnoWS/modificarTurnoRequest" message="tns:modificarTurno" />
      <output wsam:Action="http://services.pucp.edu.pe/TurnoWS/modificarTurnoResponse" message="tns:modificarTurnoResponse" />
    </operation>
    <operation name="obtenerXId">
      <input wsam:Action="http://services.pucp.edu.pe/TurnoWS/obtenerXIdRequest" message="tns:obtenerXId" />
      <output wsam:Action="http://services.pucp.edu.pe/TurnoWS/obtenerXIdResponse" message="tns:obtenerXIdResponse" />
    </operation>
  </portType>
  <binding name="TurnoWSPortBinding" type="tns:TurnoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarTurno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTurno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertaTurno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarTurno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerXId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TurnoWS">
    <port name="TurnoWSPort" binding="tns:TurnoWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/TurnoWS" />
    </port>
  </service>
</definitions>