FrontEnd/PazCitasWeb/Connected Services/ServiciosWS/TurnoMedicoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TurnoMedicoWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PazCitasWeb/TurnoMedicoWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarTurnoMedico">
    <part name="parameters" element="tns:listarTurnoMedico" />
  </message>
  <message name="listarTurnoMedicoResponse">
    <part name="parameters" element="tns:listarTurnoMedicoResponse" />
  </message>
  <message name="listarDiasAtencionPorMedico">
    <part name="parameters" element="tns:listarDiasAtencionPorMedico" />
  </message>
  <message name="listarDiasAtencionPorMedicoResponse">
    <part name="parameters" element="tns:listarDiasAtencionPorMedicoResponse" />
  </message>
  <message name="listarHorariosPorMedicoYDia">
    <part name="parameters" element="tns:listarHorariosPorMedicoYDia" />
  </message>
  <message name="listarHorariosPorMedicoYDiaResponse">
    <part name="parameters" element="tns:listarHorariosPorMedicoYDiaResponse" />
  </message>
  <message name="insertarTurnoMedico">
    <part name="parameters" element="tns:insertarTurnoMedico" />
  </message>
  <message name="insertarTurnoMedicoResponse">
    <part name="parameters" element="tns:insertarTurnoMedicoResponse" />
  </message>
  <message name="modificarTurnoMedico">
    <part name="parameters" element="tns:modificarTurnoMedico" />
  </message>
  <message name="modificarTurnoMedicoResponse">
    <part name="parameters" element="tns:modificarTurnoMedicoResponse" />
  </message>
  <portType name="TurnoMedicoWS">
    <operation name="listarTurnoMedico">
      <input wsam:Action="http://services.pucp.edu.pe/TurnoMedicoWS/listarTurnoMedicoRequest" message="tns:listarTurnoMedico" />
      <output wsam:Action="http://services.pucp.edu.pe/TurnoMedicoWS/listarTurnoMedicoResponse" message="tns:listarTurnoMedicoResponse" />
    </operation>
    <operation name="listarDiasAtencionPorMedico">
      <input wsam:Action="http://services.pucp.edu.pe/TurnoMedicoWS/listarDiasAtencionPorMedicoRequest" message="tns:listarDiasAtencionPorMedico" />
      <output wsam:Action="http://services.pucp.edu.pe/TurnoMedicoWS/listarDiasAtencionPorMedicoResponse" message="tns:listarDiasAtencionPorMedicoResponse" />
    </operation>
    <operation name="listarHorariosPorMedicoYDia">
      <input wsam:Action="http://services.pucp.edu.pe/TurnoMedicoWS/listarHorariosPorMedicoYDiaRequest" message="tns:listarHorariosPorMedicoYDia" />
      <output wsam:Action="http://services.pucp.edu.pe/TurnoMedicoWS/listarHorariosPorMedicoYDiaResponse" message="tns:listarHorariosPorMedicoYDiaResponse" />
    </operation>
    <operation name="insertarTurnoMedico">
      <input wsam:Action="http://services.pucp.edu.pe/TurnoMedicoWS/insertarTurnoMedicoRequest" message="tns:insertarTurnoMedico" />
      <output wsam:Action="http://services.pucp.edu.pe/TurnoMedicoWS/insertarTurnoMedicoResponse" message="tns:insertarTurnoMedicoResponse" />
    </operation>
    <operation name="modificarTurnoMedico">
      <input wsam:Action="http://services.pucp.edu.pe/TurnoMedicoWS/modificarTurnoMedicoRequest" message="tns:modificarTurnoMedico" />
      <output wsam:Action="http://services.pucp.edu.pe/TurnoMedicoWS/modificarTurnoMedicoResponse" message="tns:modificarTurnoMedicoResponse" />
    </operation>
  </portType>
  <binding name="TurnoMedicoWSPortBinding" type="tns:TurnoMedicoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTurnoMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDiasAtencionPorMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarHorariosPorMedicoYDia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarTurnoMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarTurnoMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TurnoMedicoWS">
    <port name="TurnoMedicoWSPort" binding="tns:TurnoMedicoWSPortBinding">
      <soap:address location="http://localhost:8080/PazCitasWeb/TurnoMedicoWS" />
    </port>
  </service>
</definitions>